<div id="menu">
    <div id="titulo">
        <div id="texto-titulo">Gerenciador de Contratos e Bens Consumidos </div>
        <div id="logo">GCBC</div>
    </div>
    <div id="busca">
        <input type="search" id="input-busca" placeholder="busque por contrato">
        <mat-icon aria-hidden="false" fontIcon="notifications"></mat-icon>
        <mat-icon aria-hidden="false" fontIcon="settings"></mat-icon>
    </div>
</div>

<div id="links-menu">
    <a routerLink="/home">Dashboard</a>
    <a routerLink="/contratos">Contratos</a>
    <a routerLink="/fornecedores">Fornecedores</a>
    <a routerLink="/calendario">Calendário</a>
</div>

<!-- <nav>
    <a routerLink="/home">Heroes</a>
</nav> -->