<div id="menu">
    <div id="titulo">
        <div id="texto-titulo">Gerenciador de Contratos e Bens Consumidos </div>
        <div id="logo">GCBC</div>
    </div>
    <div id="busca">
        <input type="search" id="input-busca" placeholder="busque por contrato">
        <mat-icon aria-hidden="false" fontIcon="notifications"></mat-icon>
        <mat-icon aria-hidden="false" fontIcon="settings"></mat-icon>
        <a routerLink="/login" *ngIf="usuario == null">Entrar</a>
        <a routerLink="/login" *ngIf="usuario != null">{{usuario.nome}}, sair?</a>
    </div>
</div>

<div id="links-menu">
    <a routerLink="/home">Dashboard</a>
    <a routerLink="/contratos">Contratos</a>
    <a routerLink="/fornecedores">Fornecedores</a>
    <a routerLink="/calendario">Calendário</a>
    <a routerLink="/usuarios" *ngIf="usuario != null">Usuários</a>
    <a routerLink="/logs" *ngIf="usuario != null">Logs</a>
</div>
