<div id="crud-menu">
    <div id="novo">
        <button id="botao-criar-novo">
            <a routerLink="novo">
                <mat-icon aria-hidden="false" fontIcon="add" class="add-icon"></mat-icon>
                criar novo
            </a>    
        </button>
    </div>
    <div id="metricas">
        <button class="itens-botoes">
            <mat-icon aria-hidden="false" fontIcon="add" class="icons"></mat-icon>
            <span class="texto-botao">métricas</span>
        </button>
    </div>
    <div id="resultados">
        <button class="itens-botoes">
            <mat-icon aria-hidden="false" fontIcon="check" class="icons"></mat-icon>
            <span class="texto-botao">resultados</span>
        </button>
    </div>
    <div id="relatorios">
        <button class="itens-botoes">
            <mat-icon aria-hidden="false" fontIcon="print" class="icons"></mat-icon>
            <span class="texto-botao">relatórios</span>
        </button>
    </div>
</div>