<div id="crud-usuario">
    <form [formGroup]="novoUsuario">
        <div id="titulo-usuario">
            <label>usuario</label>
            <input type="text" formControlName="nome" maxlength="20" />
            <span class="erro" *ngIf="formUsuarioInvalido('nome')">* Campo obrigatório</span>
        </div>

        <div id="senha">
            <label>senha</label>
            <input type="password" formControlName="senha" maxlength="20" />
            <span class="erro" *ngIf="formUsuarioInvalido('senha')">* Campo obrigatório</span>
        </div>

    </form>

    <div id="novo">
        <button id="botao-criar-novo" (click)="salvar()">
            <mat-icon aria-hidden="false" fontIcon="add" class="add-icon"></mat-icon>
            criar novo
        </button>
    </div>
    <span class="erro" *ngIf="usuarioExiste != null">* Usuário {{usuarioExiste}} já existe</span>
</div>